<ol reversed class="card-group" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li class="card-group__item grid-column-one-third">
      <div class="card">
        <img class="card__img" src="{{ meta.cloudinary_url }}image/upload/w_480,f_auto/family_tree{{ post.data.images }}" width="480" loading="lazy"/>

        <div class="card__content">
          <div class="card__heading">
            <a href="{{ post.url | url }}">
              {% if post.data.caption %}
                {{ post.data.caption }}
              {% else %}
                {{ post.data.title }}
              {% endif %}
            </a>
          </div>
          <p class="card__description">{{ post.data.description }}</p>

            {% if post.data.date %}<p><time class="postlist-date" datetime="{{ post.data.date }}">{{ post.data.date | dateToFormat('dd MMMM yyyy') }}</time></p>{% endif %}
            {% for tag in post.data.tags | filterTagList %}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                  <a href="{{ tagUrl | url }}" class="tag tag--white">{{ tag }}</a>
            {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ol>