.nav {
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: $nav-bg-color;
        z-index: 1;
    }

    &__item {
        padding: 0 1em;
    }

    &__link {
        display: block;
        padding: 1em 0;
        color: $nav-text-color;
        text-decoration: none;
        border-bottom: 1px solid $nav-border-color;


        &:hover {
            text-decoration: underline;
        }
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            display: block;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }

        &__item {
            padding: 0;
        }
        
        &__link {
            padding: 1em;
            border-bottom: none;
        }
    }
}
