table {
  margin-bottom: 40px;
  border-spacing: 0;
  vertical-align: top;
  width: 100%;
  /* [1] */ }
  @media (min-width: 40.0625em) {
    table {
      margin-bottom: 48px; } }
  @media print {
    table {
      page-break-inside: avoid; } }

thead th {
  border-bottom: 2px solid #d8dde0; }

th,
td {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-top: 8px;
  border-bottom: 1px solid #d8dde0;
  text-align: left;
  vertical-align: top; }
  @media (min-width: 40.0625em) {
    th,
    td {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.47368; } }
  @media print {
    th,
    td {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    th,
    td {
      padding-bottom: 16px; } }
  @media (min-width: 40.0625em) {
    th,
    td {
      padding-right: 24px; } }
  @media (min-width: 40.0625em) {
    th,
    td {
      padding-top: 16px; } }
  th:last-child,
  td:last-child {
    padding-right: 0; }

th {
  font-weight: 600; }

caption {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.55556;
  text-align: left; }
  @media (min-width: 40.0625em) {
    caption {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 1.45455; } }
  @media print {
    caption {
      font-size: 18pt;
      line-height: 1.15; } }

      .orange {
        background: orange;
      }

      .red {
        background: red;
      }