.tag {
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    background-color: #0055a6;
    border: 1px solid #0055a6;
    border-top-color: rgb(0, 85, 166);
    border-right-color: rgb(0, 85, 166);
    border-bottom-color: rgb(0, 85, 166);
    border-left-color: rgb(0, 85, 166);
    color: #ffffff;
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
    border-radius: 3px;

    @include mq(md) {
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 0.375em;
    }
}

.tag--white {
    background-color: #ffffff;
    border-color: #d8dde0;
    color: #373a3c;
}
