---
title: "People"
layout: base
pagination:
  data: collections.person
  reverse: true
  size: 36
eleventyNavigation:
  key: People
---
<div class="container">
    <h1>{{ title }}</h1>


<ul>
    {% for item in pagination.items %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
</div>