---
title: "Photos"
layout: base
pagination:
  data: collections.media
  reverse: true
  size: 36
eleventyNavigation:
  key: Photos
---
<div class="container">
    <h1>{{ title }}</h1>

<ul>
    {% for item in pagination.items %}
         <li>
          {% for photo in item.data.images %}
          <img src="{{ photo }}" />
          {% endfor %}
   <a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
</div>