---
title: "Photos"
layout: base
pagination:
  data: collections.mediaByTitle
  reverse: false
  size: 20
eleventyNavigation:
  key: Photos
---

<div class="container">
    <h1>{{ title }}</h1>

<ul class="card-group">
    {% for item in pagination.items %}
        <li class="card-group__item grid-column-one-third">
          <div class="card">
            <img class="card__img" src="{{ meta.cloudinary_url }}image/upload/w_480,f_auto/family_tree{{ item.data.images[0] }}" width="480" loading="lazy"/>
            <div class="card__content">
              <div class="card__heading"><a href="{{ item.url }}">
              {% if item.data.caption %}
                {{ item.data.caption }}
              {% else %}
                {{ item.data.title }}
              {% endif %}
              </a>
              </div>
              <p class="card__description">{{ item.data.description }}</p>
            </div>
          </div>
        </li>
    {% endfor %}
</ul>
</div>

{% include "pagination.njk" %}