---
layout: base
---




<div class="container">
{%- set nextPost = collections.media | getNextCollectionItem(page) %}
{%- set previousPost = collections.media | getPreviousCollectionItem(page) %}
{% include "pager.njk" %}
<article class="h-entry">


<h1 class="page-title">{% if item.data.caption %}
        {{ item.data.caption }}
    {% else %}
        {{ title }}
    {% endif %}
</h1>
{% for item in images %}
<figure class="image">
    <img loading="lazy" src="{{ meta.cloudinary_url }}image/upload/w_1800,f_auto/family_tree{{ item }}" class="image__img u-photo" width="1200" />
        {% if caption %}
        <figcaption class="image__caption">
            {{ caption }}
        </figcaption>
        {% endif %}
    </figure>
{% endfor %}

<dl class="summary-list">
    {% if date %}
    <div class="summary-list__row">
    <dt class="summary-list__key">Date:</dt>
    <dd class="summary-list__value">{{ date | dateToFormat('dd MMMM yyyy') }}</dd>
    </div>
    {% endif %}

    {% if location %}
    <div class="summary-list__row">
    <dt class="summary-list__key">Location:</dt>
    <dd class="summary-list__value">{{ location }}</dd>
    </div>
    {% endif %}
    
    {% if description %}
    <div class="summary-list__row">
    <dt class="summary-list__key">Description:</dt>
    <dd class="summary-list__value">{{ description }}</dd>
    </div>
    {% endif %}
    
    {% if transcription %}
    <div class="summary-list__row">
    <dt class="summary-list__key">Transcription:</dt>
    <dd class="summary-list__value">{{ transcription }}</dd>
    </div>
    {% endif %}

    {% if tags %}
    <div class="summary-list__row">
    <dt class="summary-list__key">Tags:</dt>
    <dd class="summary-list__value">
    {% for tag in tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag tag--white">{{ tag }}</a>
    {% endfor %}
    </dd>
    </div>
    {% endif %}

    <div class="summary-list__row">
    <dt class="summary-list__key">Original scan:</dt>
    <dd class="summary-list__value">{% for item in images %}<a href="{{ item }}">Download</a>{% endfor %}</dd>
    </div>
    
</dl>

{% if relatedPeople %}
<aside class="related-articles u-mt2">
<h2>Related to</h2>
    <ul>
    {%- for item in collections.person | related(relatedPeople) -%}
            <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {%- endfor -%}
    </ul>
</aside>
{% endif %}

</article>
</div>