---
layout: base
---
<article class="container">
<h1>{{ title }}</h1>
<p>{{ date }}{{ location }}</p>
{{ caption }}
<small>{{ copyright }}</small>
<div>{{ description }}</div>
<div>{{ transcription }}</div>
</article>