---
layout: base
---
<article class="container">
{%- set nextPost = collections.person | getNextCollectionItem(page) %}
{%- set previousPost = collections.person | getPreviousCollectionItem(page) %}
{% include "pager.njk" %}
<hr>


<h1>{{ title }}</h1>

<p class="u-mt0">{% if date | dateToFormat('yyyy') %}{{ date | dateToFormat('yyyy') }}{% endif %}{% if deathDate %}-{{ deathDate | dateToFormat('yyyy') }}{% endif %}<p>

<h2>Life facts</h2>
<dl class="summary-list">
    <div class="summary-list__row">
        <dt class="summary-list__key">Name</dt>
        <dd class="summary-list__value">{{ title }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Gender</dt>
        <dd class="summary-list__value">{{ gender }}</dd>
    </div>
    
    {% if date %}
    <div class="summary-list__row">
        <dt class="summary-list__key">Birth</dt>
        <dd class="summary-list__value">{{ date | dateToFormat('dd MMMM yyyy') }} {% if birthPlace %}<br> {{ birthPlace }}{% endif %}</dd>
    </div>
    {% endif %}
    
    {% if deathDate %}
    <div class="summary-list__row">
        <dt class="summary-list__key">Living status</dt>
        <dd class="summary-list__value">{% if not deathDate %} Living <br> {% endif %}{% if deathDate %}{{ deathDate | dateToFormat('dd MMMM yyyy') }}{% endif %} {% if deathPlace %}<br> {{ deathPlace }}{% endif %}</dd>
    </div>
    {% else %}
        <div class="summary-list__row">
        <dt class="summary-list__key">Living status</dt>
        <dd class="summary-list__value">Living</dd>
    </div>
    {% endif %}
</dl>
{%- set dobYear = date | dateToFormat('yyyy') -%}

<h2>Evidence</h2>


<dl class="summary-list">
	<div class="summary-list__row">
        <dt class="summary-list__key">Baptism</dt>
        <dd class="summary-list__value"><span class="tag">May be available</span></td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">Birth Certificate</dt>
        <dd class="summary-list__value">{% if dobYear < 1837 %}Birth registration only began in 1837.{% else %}<span class="tag">May be available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1841 Census</dt>
        <dd class="summary-list__value">{% if dobYear <= 1841 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1851 Census</dt>
        <dd class="summary-list__value">{% if dobYear <= 1851 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1861 Census</dt>
        <dd class="summary-list__value">{% if dobYear <= 1861 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1871 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1871 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1881 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1881 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1891 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1891 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1901 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1901 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1911 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1911 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1921 Census</dt>
    <dd class="summary-list__value">{% if dobYear <= 1921 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
	<div class="summary-list__row">
        <dt class="summary-list__key">1939 Register</dt>
    <dd class="summary-list__value">{% if dobYear <= 1939 %}<span class="tag">May be available</span>{% else %}<span class="tag tag--white">Not available</span>{% endif %}</td>
    </dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Death Certificate</dt>
        <dd class="summary-list__value">{% if dobYear < 1837 %}Death registration only began in 1837.{% else %}<span class="tag">May be available</span>{% endif %}</td>
    </dd>
    </div>
        <div class="summary-list__row">
        <dt class="summary-list__key">Burial record</dt>
        <dd class="summary-list__value"><span class="tag">May be available</span></td>
    </dd>
    </div>
</dl>



{% if content %}
{{ content | safe }}
{% endif %}

{# <h2>Media</h2>

<ul>
    <li>
        <a href="">
            <div class="card">
                <div class="cardImg">
                    <img src="" alt="Photo" />
                </div>
                <div class="cardContent">
                    <p>Caption or filename</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <div class="card">
                <div class="cardImg">
                    <img src="" alt="Photo" />
                </div>
                <div class="cardContent">
                    <p>Caption or filename</p>
                </div>
            </div>
        </a>
    </li>
</ul>


<aside>
<h2>Relations</h2>

<h3>Parents</h3>
<ul>
    <li>
        <a href="">
            <div class="personCard">
                <div class="personCardImg">
                    <img src="" alt="Avatar or Photo" />
                </div>
                <div class="personCardContent">
                    <small>Father</small>
                    <h4>Fathers name</h4>
                    <p>Year from - year to or Living</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <div class="personCard">
                <div class="personCardImg">
                    <img src="" alt="Avatar or Photo" />
                </div>
                <div class="personCardContent">
                    <small>Mother</small>
                    <h4>Mothers name</h4>
                    <p>Year from - year to or Living</p>
                </div>
            </div>
        </a>
    </li>
</ul>

<h3>Spouses and Children</h3>

<ul>
    <li>
        <a href="">
            <div class="personCard">
                <div class="personCardImg">
                    <img src="" alt="Avatar or Photo" />
                </div>
                <div class="personCardContent">
                    <small>Spouse</small>
                    <h4>Spouses name</h4>
                    <p>Year from - year to or Living</p>
                </div>
            </div>
        </a>
        <ul>
            <li>
                <a href="">
                    <div class="personCard">
                        <div class="personCardImg">
                            <img src="" alt="Avatar or Photo" />
                        </div>
                        <div class="personCardContent">
                            <small>Child</small>
                            <h4>Childs name</h4>
                            <p>Year from - year to or Living</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="personCard">
                        <div class="personCardImg">
                            <img src="" alt="Avatar or Photo" />
                        </div>
                        <div class="personCardContent">
                            <small>Child</small>
                            <h4>Childs name</h4>
                            <p>Year from - year to or Living</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul> #}
</aside>
</article>

