---
layout: base
---
<article class="container">
<h1>{{ title }}</h1>
<p><strong>Birth:</strong> {{ date | dateToFormat('dd MMMM yyyy') }}, {{ birthPlace }}</p>
<p><strong>Death:</strong> {{ deathDate | dateToFormat('dd MMMM yyyy') }}, {{ deathPlace }}</p>
</article>